<div class="row">
    <div class="col-md-8 blue d-flex align-items-center">
        <div>
            <h1 class="display-3">
                Welcome to iskul
            </h1>
        </div>

    </div>
    <div class=" col-md-4 d-flex align-items-center">
        <div class="container login-form">
                <mat-form-field>
                        <mat-select placeholder="Account Type">
                            <mat-option value="Student">Student</mat-option>
                            <mat-option value="Teacher">Teacher</mat-option>
                            <mat-option value="Bursar">Bursar</mat-option>
                            <mat-option value="Academic Officer">Academic Officer</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Username">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" matInput placeholder="password">
                    </mat-form-field>
                    <button mat-raised-button [routerLink]="['dash']">Log In</button>
        </div>
            
        </div>
</div>