.login-form{
    display: flex;
    flex-direction: column;
}
.login-div{
    min-height: 100vh;
}
.blue{
    background-color: blue;
    min-height: 100vh;
    color: white;
    font-weight: bold;
    padding: 20px;
    justify-content: center;
}