<table class="table table-responsive">
   <thead>
       <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Class</th>
       </tr>
   </thead>
   <tbody>
       <tr *ngFor="let student of students">
           <td>{{ student.id}}</td>
           <td>{{ student.name}}</td>
           <td>{{ student.age}}</td>
           <td>{{ student.class}}</td>
       </tr>
   </tbody>
</table>
